[core]
  excludesfile = /Users/HiromuMasuda/.gitignore_global

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[user]
  name = HiromuMasuda
  email = hiromu.masuda.0228@gmail.com

[push]
  default = current

[alias]
  # status
  s  = status
  st = status
  ss = status -s

  # add
  a  = add
  aa = add .

  # commit
  c  = commit
  cm = commit -m
  ca = commit --amend

  # pull/push/fetch
  ft  = fetch
  pom = pull origin master
  pod = pull origin development

  # checkout
  co  = checkout
  cob = checkout -b
  coa = checkout .
  com = checkout master
  cod = checkout development

  # branch
  br  = branch
  bra = branch -a

  # diff
  d  = diff
  dm = diff master
  dd = diff devekopment
  ds = diff --staged
  d1 = diff HEAD^
  d2 = diff HEAD^^
  d3 = diff HEAD^^^

  # log
  l = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %C(cyan)%cn%Cred%d %Creset%s'
  lc = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %C(cyan)%cn%Cred%d %Creset%s %C(cyan)%b'
  lm = log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %C(cyan)%cn%Cred%d %Creset%s %C(cyan)%b'

  # reset
  rh   = reset HEAD
  rh1  = reset HEAD^
  rsh  = reset --soft HEAD
  rsh1 = reset --soft HEAD^
  rhh  = reset --hard HEAD
  rhh1 = reset --hard HEAD^

[filter "lfs"]
  required = true
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f

[color]
  ui = true
