[core]
  excludesfile = /Users/HiromuMasuda/.gitignore_global
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[user]
  name = HiromuMasuda
  email = hiromu.masuda.0228@gmail.com
[push]
  default = simple
[alias]
  a = add
  c = commit -m
  s = status
  co = checkout
  br = branch
  d = diff
[filter "lfs"]
  required = true
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
[color]
  ui = true
